<p id="notice"><%= notice %></p>

<p>
  <strong>Notifier:</strong>
  <%= @notification.notifier_id %>
</p>

<p>
  <strong>Notifiee:</strong>
  <%= @notification.notifiee_id %>
</p>

<% if @notification.notifiable_type.include? "esponse" %>
<%= @notification.notifiable_type %>

<%= @notification.notifiable_id %>
<% end %>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
<%= link_to 'Destroy', @notification, method: :delete, data: { confirm: 'Are you sure?' } %>
