<p><%= t("mailer.salutation") %></p>

<p><%= t("mailer.after_court_creation.content1") %></p> 

<p><b><%= t("mailer.after_court_creation.content2") %><b><br>
<%= t("mailer.after_court_creation.content3") %></p>

<h2 class="center"><%= link_to t("mailer.after_court_creation.cta") , edit_court_url(@court) %></h2>

<p><%= t("mailer.after_court_creation.content4") %></p>

<p><%= t("mailer.end_salutation") %></p>

<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo">
http://courts.be | http://facebook.com/courts.be | http://linkedin.com/company/courtsbe