<p><%= t("mailer.salutation") %></p>

<p><%= t("mailer.after_court_creation.content1") %></p> 

<p><%= t("mailer.after_court_creation.content2") %><br>
<%= t("mailer.after_court_creation.content3") %></p>

<h2 class="center"><%= link_to t("mail.after_court_creation.cta") , edit_court_url(@court) %></h2>

<p><%= t("mailer.after_court_creation.content4") %></p>

<p><%= t("mailer.end_salutation") %></p>

<h1>
	<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo">
</h1>