<%= t("mailer.salutation") %>

<p><%= t("mailer.new_court_in_my_bar.content1") %></p> 

<p><%= t("mailer.new_court_in_my_bar.content2") %></p>
<h2 class="center"><%= link_to t("mailer.new_court_in_my_bar.cta"), court_url(@court) %>.</h2>

<p><%= t("mailer.end_salutation") %></p>

<h1>
	<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo">
</h1>