<%= t("mailer.salutation") %>

<p><%= t("mailer.new_court_in_my_bar.content1") %></p> 

<p><%= t("mailer.new_court_in_my_bar.content2") %>
<%= link_to t("mailer.new_court_in_my_bar.cta"), court_url(@court) %></p>

<p><%= t("mailer.end_salutation") %></p>

<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo">
http://courts.be | http://facebook.com/courts.be | http://linkedin.com/company/courtsbe