<% @user_courts.each do |court| %>
<div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
      <div class="text-right">
	        <span class="glyphicon glyphicon-map-marker"></span>
	        <%= t("bars.#{court.bar}") %> <br>
	      
	   
	        
	       <small><b><%= court.date.strftime('%d') %>
	        <%= l court.date, :format => '%B' %> 
	        <%= court.date.strftime('%H:%M') %></b></small>
	     </div>

	      
	            <div class="lead"><%= link_to truncate(court.jurisdiction, :length => 22), court %></div>
	          <%= truncate(court.performance, :length => 35) %> 
	   
	  </div>

	  <div class="panel-footer text-center">  
	        <%= link_to court do %>
	          <%= content_tag(:i, " " ,:class=> 'glyphicon glyphicon-eye-open btn btn-default') -%>
	        <% end %>

	        <%= link_to t("courts.button_edit"), edit_court_path(court),:class=> 'btn btn-info' -%>

	        <% if court.have_found %>
	          <%= link_to t("courts.button_found"), court,:class=> 'btn btn-warning', :disabled=> 'disabled' %>
	        <% end %>
	  </div>
  </div>
</div>   
<% end %>

