<div class="splash">
    <div class="splash-filter text-center">
    	<%= link_to image_tag("courts_logo.png", :size => "125x50"), root_path %>
    	<h2 class="white reset-title-form-spacing"><%= t("account.modify_your_password") %></h2>

<div class="container">
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  
		  	
			  <%= f.password_field :password, :placeholder => t("account.new_password_placeholder"), class: "form-control input-lg input-form-spacing form-opacity", :autofocus => true %>
			
		  	
			  <%= f.password_field :password_confirmation, :placeholder => t("account.confirm_new_password"), class: "form-control input-lg input-form-spacing form-opacity" %>
			

		  <div class="btn-form-spacing">
		  	<%= f.submit t("account.modify_password"), class: "btn btn-primary btn-lg btn-block" %>
		  </div>
		<% end %>
</div>

<div class="text-center white">
	<%= link_to t("users.registration.sign_up"), new_registration_path(resource_name), class: "white" %>
	 | <%= link_to t("users.registration.sign_in"), new_user_session_path, class: "white" %>
	</div>

</div>
</div>