<% if mobile_device? %>
<%= render "mobile_edit_password" %>
<% else %>

	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    	<h1><%= t("account.modify_your_password") %></h1>
    </div>
  </div>
  
  <div class="panel-body">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <div class="form-group">
		  	
			  <%= f.password_field :password, :placeholder => t("account.new_password_placeholder"), class: "form-control", :autofocus => true %>
			</div>

		  <div class="form-group">
		  	
			  <%= f.password_field :password_confirmation, :placeholder => t("account.confirm_new_password"), class: "form-control" %>
			</div>

		  <div class="form-group">
		  	<%= f.submit t("account.modify_password"), class: "btn btn-primary" %>
		  </div>
		<% end %>
	</div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>

<% end %>