<%= content_for :head do %>
<%= t("account.modify_your_password") %>
<% end %>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
  <%= devise_error_messages! %>

    <li class="list-group-item">
      <p class="lead text-center"><%= t("account.current_password") %></p>
      <%= f.password_field :current_password, :placeholder => t("account.current_password_placeholder"), class: "form-control input-lg" %>
    </li>

          <li class="list-group-item">
            <p class="lead text-center"><%= t("account.new_password") %></p>
            <%= f.password_field :password, :placeholder => t("account.new_password_placeholder"), class: "form-control input-lg", :autocomplete => "off" %>
          </li>

          <li class="list-group-item">
            <p class="lead text-center"><%= t("account.confirm_new_password") %></p>
            <%= f.password_field :password_confirmation, :placeholder => t("account.new_password_placeholder"), class: "form-control input-lg" %>
          </li>

          

          <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
 
  <%= f.submit t("account.modify_password"), class: "btn btn-primary btn-block btn-lg" %></nav>
        <% end %>

 
