<!-- Les réponses obtenues -->  
  <ul class="list-group">
    <li class="list-group-item text-center">
      <b><small>Il y a 
        <% if !@court.current %>
         eu 
        <% end %>
        <%= @court.responses.count %> réponses à votre demande</small></b>
      <% if @court.current %>
        <br>
        <small>Choisissez votre remplaçant ci-dessous</small>
      <% end %>
    </li>
    
        <% @court.responses.each do |response| %>

          <li class="list-group-item">
            
            Me <%= link_to response.user.last_name_or_placeholder, user_path(response.user) if response.user %>
            
            <% if @loco_lawyer %>

              <% if response.user == @court.locos.last.user %>
                <% if @court.current %>
                  <!-- <%= link_to(@court.locos.last, method: :delete) do %>
                    <%= content_tag(:i, " " ,:class=> 'glyphicon glyphicon-remove btn-sm btn-danger pull-right') -%>
                  <% end %> -->
                  <!-- pour changer de loco, il faut cliquer sur le bouton, les autres répondants apparaîtront, et il suffira de créer un nouveau loco (qui sera locos.last) %> -->
                  
                  <button class="btn btn-xs btn-danger pull-right" type="button" data-toggle="collapse" data-target="#collapseLoco" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-remove"></i>
                  </button>

                  <button class="btn btn-success btn-xs pull-right disabled">loco</button>
                  <div class="collapse row" id="collapseLoco">
                    
                      
                      <ul class="list-group col-md-10 col-md-offset-1">
                        <li class="list-group-item">
                          <small>Choisissez un autre remplaçant</small>
                        </li>
                        <% @court.responses.each do |r| %>

                          <% unless r.user == @loco_lawyer %>
                            <li class="list-group-item">
                              Me <%= link_to r.user.last_name_or_placeholder, user_path(r.user) if r.user %>
                              <%= form_for(@loco) do |f| %>
                                <%= f.hidden_field :court_id, :value => @court.id %>
                                <%= f.hidden_field :user_id, :value => r.user.id %>
                                <button type="submit" class="btn btn-xs btn-success pull-right">
                                      Choisir
                                </button>
                              <% end %>
                            </li>
                          <% end %>

                        <% end %>
                      </ul>
                      
                    
                  </div>
                <% end %>

                
              <% end %>

            <% else %>

              <%= form_for(@loco) do |f| %>
                <%= f.hidden_field :court_id, :value => @court.id %>
                <%= f.hidden_field :user_id, :value => response.user.id %>
                <button type="submit" class="btn btn-xs btn-success pull-right">
                      Choisir
                </button>
              <% end %>
            <% end %>

            <br>
          </li>
    <% end %>
  </ul>

