







<div class="col-md-10 col-md-offset-1">

<div class="panel panel-default">
  
  <div class="panel-body">
    
    <div class="row">      
      <div class="col-md-2 center">
        <small><%= l @court.date_display, :format => '%A' %></small>
        <br><span class="big"><i><%= l @court.date_display, :format => ('%e') %></i></span> 
        <br><b><%= l @court.date_display, :format => ('%B') %> 
        <br><small> <%= l @court.date_display, :format => ('%H:%M') %></small></b> 
      </div>

      <div class="col-md-7">
        <div class="header">
          <br>
            <span class="bigger"><%= @court.jurisdiction %></span>
          <br><span class="big"><small><%= @court.performance %></small></span>  
          
            <i>loco Me <%= link_to @court.user.last_name_or_placeholder, user_path(@court.user) %></i>
            
        </div>
      </div>

      <div class="col-md-3 text-right">
        <span class="glyphicon glyphicon-map-marker"></span>
        <%= t("bars.#{@court.bar}") %> 
      </div>
    </div>

  </div>
    
  <div class="panel-footer">

      <% unless @court.current %>
        <!-- evaluations -->
        <%= render "evaluations" %>
      
      <% else %>
    


    
    <div class="text-right">
      
      <% if @court.user == current_user %>
        <%= link_to t("courts.button_edit"), edit_court_path(@court),:class=> 'btn btn-info' -%>
        <% if @court.have_found %>
          <%= link_to t("courts.button_found"), @court, :class=> 'btn btn-warning', :disabled=> 'disabled' %>
          <% end %>
      
      <% else %>
        
          <% if @court.have_found %>
            <%= link_to t("courts.button_found"), @court,:class=> 'btn btn-warning', :disabled => 'disabled' %>
          <% else %>
            
              <% if (current_user.responses && @court.responses).any? %>
              Vous avez déjà répondu
                
                <% if @court.locos.any? &&  current_user.id == @court.locos.last.user.id %>
                  <span class="label label-success">Vous intervenez loco</span> 
                <% end %>
                
              
              
            <% else %>
              <%= form_for(@response) do |f| %> 
                  <%= f.hidden_field :court_id, :value => @court.id %>
                  <button type="submit" class="btn btn-success">
                    <%= content_tag(:i, " " , :class=> 'glyphicon glyphicon-ok') -%>  Je suis disponible
                  </button>
              <% end %>
            <% end %>

          <% end %>
        
      <% end %>

    </div>
<% end %>

  </div> <!-- fin panel footer -->
</div>