<div class="homebg">
	<h1 class="brandname">Courts</h1>
	<h2>Avocat de palais ?</h2>
		<h1>Publiez vos demandes de remplacement,<br>
	Répondez aux demandes de vos confrères,<br>
	<span class="biggy">sans vous étendre</span></h1>
	<br>
		<div class="form-inline">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, :autofocus => true, :placeholder => "email", class: "form-control input-lg" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, :placeholder => "mot de passe", class: "form-control input-lg" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, :placeholder => "confirmer mot de passe", class: "form-control input-lg" %>
          </div>

          <div class="form-group">
            <%= f.submit "S'inscrire gratuitement", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
		</div>     
</div>

<div class="container">

<div class="row">
	<div class="col-md-6">
		<br>
		<br>
		<br>
		<br>
		<%= image_tag("mockup_request_field.png") %>
	</div>

	<div class="col-md-6">
		<hr class="section-heading-spacer">
		<div class="clearfix"></div>
	<h2 class="big">A peine 3 mots</h2>
	<p class="lead">Pour publier votre demande de remplacement,<br> 3 mots suffisent : la <b>date</b>, la <b>prestation</b>, et la <b>juridiction</b>.
	<br>Oui, <b>c'est tout</b>.</p>
	</div>
</div> <!-- row -->

<div class="col-md-5">
	<hr class="section-heading-spacer">
	<div class="clearfix"></div>
<h2>Consultation au clin d'oeil</h2>
<p class="lead">Constamment dans le rush ?
	<br>En un clin d'oeil, vous pouvez <b>voir toutes les demandes de remplacement</b> à venir, des plus urgentes aux plus prochaines.</p>
</div>

<div class="col-md-6 col-md-offset-6">
	<hr class="section-heading-spacer">
	<div class="clearfix"></div>
<h2>Réponse au clic</h2>
<p class="lead">Une <b>opportunité</b> de remplacement vous intéresse ?<br>
Faites-le savoir en un seul clic.</p>
<br>
<br>
</div>
</div>

<div class="banner">
	<div class="container">
		 <div class="row">
                <div class="col-lg-6">
                    <h2 class="bigger">Restons connectés :</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://linkedin.com/in/laetitiamassa" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li><a href="http://facebook.com/courts.be" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li><a href="http://twitter.com/courtsbe" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    </ul>
                </div>
            </div>
	</div>
	</div>

<footer>
        <div class="container center">
            <div class="row">
                <div class="col-lg-12">
                	<br>
                    <ul class="list-inline">
                        <li><a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; UPcetera 2014. Tous droits réservés</p>
                </div>
            </div>
        </div>
    </footer>
