<!-- partie haute -->
<div class="homebg">
	
  <%= image_tag("courts_logo.png") %>
	
  <h1>
    <span class="biggy"><%= t("home.baseline_lawyer") %></span>
		<br><small><%= t("home.baseline_cta") %></small>
	  <br><span class="bigger"><%= t("home.baseline_replacements") %></span><br>
  </h1>
	
  <br>
		<div class="form-inline">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, :autofocus => true, :placeholder => "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, :placeholder => t("home.password"), class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, :placeholder => t("home.confirm_password"), class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit t("home.signup_free"), class: "btn btn-primary" %>
          </div>
          <br>
          <span class="center"><small>
            <%= t("home.you_accept_terms") %><%= link_to t("home.our_terms"), legal_path %>)
          </small></span>
        <% end %>
		</div>     
</div>

<!-- arguments -->

<div class="container">

<!-- argument 1 -->
  <div class="row padding-arguments">
	  <div class="col-md-6">
		  <%= image_tag("mockup-publish.png", class: "img-rounded padding-mockup") %>
	  </div>

	  <div class="col-md-6">
		  <hr class="section-heading-spacer">
		  <div class="clearfix"></div>
	  
      <h2><%= t("home.argument1_heading") %></h2>
 		
      <p class="lead">
        <%= t("home.argument1_content1") %>
        <br><%= t("home.argument1_content2") %><b><%= t("home.argument1_content3") %></b><%= t("home.argument1_content4") %><b><%= t("home.argument1_content5") %></b><%= t("home.argument1_content6") %><b><%= t("home.argument1_content7") %></b>.
        <br><%= t("home.argument1_content8") %><b><%= t("home.argument1_content9") %></b>.

 		  <div class="text-center padding-cta"><%= link_to t("home.signup_free"), new_registration_path(resource_name), class: "btn btn-primary btn-lg" %>
      </div>
 		</div>
  </div> <!-- row -->

<!-- argument 2 -->
<div class="row padding-arguments">
  
  <div class="col-md-6">
  	<hr class="section-heading-spacer">
  	<div class="clearfix"></div>

    <h2><%= t("home.argument2_heading") %></h2>
    <p class="lead"><%= t("home.argument2_content1") %>
  	<br><%= t("home.argument2_content2") %><b><%= t("home.argument2_content3") %></b><%= t("home.argument2_content4") %></p>
  	
   	<div class="text-center padding-cta"><%= link_to t("home.signup_free"), new_registration_path(resource_name), class: "btn btn-primary btn-lg" %>
    </div> 		
  </div>

  <div class="col-md-6">	
 		<%= image_tag("mockup-all-courts.png", class: "img-rounded") %>
 	</div>
</div> <!-- row -->

<!-- argument 3 -->
<div class="row padding-arguments">
 	<div class="col-md-6">
 		<%= image_tag("mockup-notifications.png", class: "img-rounded") %>
 	</div>
 
  <div class="col-md-6">
  	<hr class="section-heading-spacer">
  	<div class="clearfix"></div>

    <h2><%= t("home.argument3_heading") %></h2>

    <p class="lead">
      Une <b>opportunité</b> vous intéresse, ou vous avez fait le <b>choix</b> de votre remplaçant ?
      <!-- <%= t("home.argument3_content1") %><b><%= t("home.argument3_content2") %></b><%= t("home.argument3_content3") %> -->
      <br>Manifestez votre intérêt en un seul clic et chacun sera <b>averti automatiquement</b> comme de droit !
      <!-- <%= t("home.argument3_content4") %> -->
    </p>
 
    <div class="text-center"><%= link_to t("home.signup_free"), new_registration_path(resource_name), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<!-- argument 4 : échangez en privé -->
<div class="row padding-arguments">
  
  <div class="col-md-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>

    <h2>Echanges privés</h2>
    <p class="lead">
      Prêt à collaborer ?
      <br>Echangez vos messages et documents avec votre confrère, <b>en privé, dans une conversation dédiée,</b> qui ne se mêlera pas aux nombreux emails de votre mailbox. 
    </p>
    
    <div class="text-center padding-cta"><%= link_to t("home.signup_free"), new_registration_path(resource_name), class: "btn btn-primary btn-lg" %>
    </div>    
  </div>

  <div class="col-md-6">  
    <%= image_tag("mockup-private-conversation.png", class: "img-rounded") %>
  </div>
</div> <!-- row -->


<!-- argument 5 : évaluez -->
<div class="row padding-arguments">
  <div class="col-md-6">
    <%= image_tag("mockup-profile-eval.png", class: "img-rounded") %>
  </div>
 
  <div class="col-md-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>

    <h2>Votre profil parle pour vous</h2>

    <p class="lead">
      Vous excellez dans votre domaine ?
      <br> Laissez <b>vos confrères en attester pour vous</b>, via les recommandations après chaque collaboration, qui apparaissent sur votre profil !
    </p>
 
    <div class="text-center"><%= link_to t("home.signup_free"), new_registration_path(resource_name), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>


<!-- argument 6 : gardez tout en mémoire -->





</div> <!-- container -->


<!-- restons connectés -->
<div class="banner">
	<div class="container">
		 <div class="row">
                <div class="col-lg-6">
                    <h2 class="bigger"><%= t("home.keep_in_touch") %></h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://linkedin.com/company/courtsbe" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li><a href="http://facebook.com/courts.be" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li><a href="http://twitter.com/courtsbe" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    </ul>
                </div>
            </div>
	</div>
	</div>

	<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    

        <div class="container center">
            <div class="row">
                <div class="col-lg-12">
                	<br>
                    <ul class="list-inline">
                        <% if user_signed_in? %>
                            <li><%= link_to t("header.home"), root_path, class: 'btn btn-link btn-primary' %></li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to t("header.profile"), edit_user_path(current_user), class: 'btn btn-link btn-primary' %></li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to t("header.log_out"), destroy_user_session_path, method: :delete, class: 'btn btn-link btn-primary' %></li>
                             <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to t("header.about"), about_path, class: 'btn btn-link btn-primary' %></li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li><%= link_to t("header.terms"), legal_path, class: 'btn btn-link btn-primary' %></li> 
                                <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to "Contact", "mailto:info@courts.be", class: 'btn btn-link btn-primary' %></li>

                          <% else %>
                                <li><%= link_to t("header.about"), about_path, class: 'btn btn-link btn-primary' %></li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li><%= link_to t("header.terms"), legal_path, class: 'btn btn-link btn-primary' %></li> 
                                <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to t("header.log_in"), new_user_session_path, class: 'btn btn-link btn-primary' %></li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li><%= link_to "Contact", "mailto:contact@courts.be", class: 'btn btn-link btn-primary' %></li>
                          <% end %>

                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; UPcetera 2015</p>
                </div>
            </div>
        </div>

    </div>
</nav>
    </footer>


