



<div class="row">
	<div class="col-md-3">
		
			
		<% if current_user.locos.any? or current_user.courts.current.any? %>
			<ul class="list-group">
				<li class="list-group-item">
					<h4><small>Vos audiences à venir</small></h4>
				</li>
				<% @courts.sort_by(&:date_display).each do |court| %>
					<% if court.current %>
						<% if court.locos.any? && court.locos.last.user == current_user %>
							<li class="list-group-item">
								<div class="row with-padding-left with-padding-right">
									<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
									<span class="label label-info pull-right no-bold">loco</span>
								</div>
							</li>
						<% end %>
						<% if court.user == current_user %>
							<li class="list-group-item">
								<div class="row with-padding-left with-padding-right">
									<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
									<span class="label label-info pull-right no-bold">dominus litis</span>
								</div>
							</li>
						<% end %>
					<% end %>
				<% end %>
			</ul>
		<% end %>

			
		

		<ul class="list-group">
			
			<li class="list-group-item">
				<h4><small>Vos conversations en cours</small></h4>
				<% if current_user.locos.any? or current_user.courts.any? %>
					<% current_user.locos.each do |loco| %>
						<% if loco.comments.any? && loco.comments.last.user == loco.court.user %>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-3">
									<%= image_tag (loco.court.user.avatar.url(:mini)), class: "img-rounded" %>
								</div>
								<div class="col-md-9">
									<%= link_to truncate(loco.comments.last.body, :length => 50), court_path(loco.court) %>
									<div class="text-right"><small>
										(<%= link_to loco.court.performance, court_path(loco.court) %>)
									</small></div>
								</div>
							</div>
						</li>
						<% end %>
					<% end %>

					<% current_user.courts.each do |court| %>
						<% if court.locos.any? %>
							<% court.locos.each do |loco| %> 
								<% if loco.comments.any? && loco.comments.last.user == loco.user %>
									<li class="list-group-item">
										<div class="row">
											<div class="col-md-3">
												<%= image_tag (loco.user.avatar.url(:mini)), class: "img-rounded" %>
											</div>
											<div class="col-md-9">
												<%= link_to truncate(loco.comments.last.body, :length => 50), court_path(loco.court) %>
												<div class="text-right"><small>
													(<%= link_to loco.court.performance, court_path(loco.court) %>)
												</small></div>
											</div>
										</div>
									</li>
								<% end %>
							<% end %>
						<% end %>
					<% end %>

				<% end %>
			</li>
		</ul>

		<ul class="list-group">
			
			<li class="list-group-item">
				<h4><small>Vos expériences à évaluer</small></h4>
			</li>

				<% @courts.sort_by(&:date_display).each do |court| %>
					<% if court.past %>
						<% if court.locos.any? && court.locos.last.user == current_user %>
							<% if court.dominus_litis_evaluation.blank? %>
								<li class="list-group-item">
									<%= link_to "Evaluez Me #{court.user.last_name_or_placeholder}", court_path(court) %>
								</li>
							<% end %>
						<% end %>

						<% if court.locos.any? && court.user == current_user %>
							<% if court.loco_evaluation.blank? %>
							<li class="list-group-item">
								<%= link_to "Evaluez Me #{court.locos.last.user.last_name_or_placeholder}", court_path(court) %>
								<div class="text-right"><small>
									(<%= link_to court.performance, court_path(court) %>)
								</small></div>
							</li>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

			
			
		</ul>

		
		
	</div>
	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item new-court">
				<div class="row">
					<br>
				<%= render "courts/shortform" %>
			</div>
			</li>
			<% @courts.sort_by(&:date_display).each do |court| %>
				<% if court.date_display >= Time.now %>
					<%= render :partial => "each_court", :locals => { :court => court} %>
				<% end %>
			<% end %>

			
				<% unless @courts.where("date.to_datetime >= ?", Time.now) %>
					<li class="list-group-item">
						<h3 class="text-center"><small>Tous vos confrères ont déjà trouvé un remplaçant.</small></h3>
					</li>
				<% end %>
			
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3">
				<%= image_tag (current_user.avatar.url(:mini)), class: "img-rounded" %>
			</div>
			<div class="col-md-9">
				<b><%= link_to current_user.name_or_placeholder, user_path(current_user) %></b>
				<br><i class="fa fa-map-marker"> <%= current_user.bar %></i>
				<div class="text-right"><%= link_to "Modifier", edit_user_path(current_user), class: 'btn btn-link btn-xs' %></div>
			</div>
		</div>
			</li>
			<li class="list-group-item">
				
				<div class="row text-center">
					<div class="col-md-4 col-xs-4 few-padding-left few-padding-right">
						<div class="bigger"><b><%= current_user.courts.count %></b></div>
						<br><div class="smaller">audiences</div>
					</div>
					<div class="col-md-4 col-xs-4 few-padding-left few-padding-right">
						<div class="bigger"><b>
							<%= current_user.loco_count %>
						</b></div>


						<br><div class="smaller">remplacements</div>
					</div>
					<div class="col-md-4 col-xs-4 few-padding-left few-padding-right">
						<div class="bigger">
							<b>
								<%= current_user.reco_count %>
							</b></div>
						<br><div class="smaller">recommandations</div>
					</div>
				</div>

				
				
				
			</li>
		</ul>

		<ul class="list-group">
			<li class="list-group-item">
				<h4><small>Les évaluations de vos confrères</small></h4>

				<%= render "evaluations_by_others" %>
			</li>
			<li class="list-group-item">
				<h4><small>Vos évaluations</small></h4>
				<%= render "evaluations_by_me" %>
			</li>
		</ul>

		<ul class="list-group">
			
			<% if current_user.courts.any? or current_user.locos.any? %>
				<li class="list-group-item">
					<h4><small>Audiences passées</small></h4>
				</li>

				<% @courts.sort_by(&:date_display).each do |court| %>
					<% if court.past %>
						<% if current_user == court.user %>
							<li class="list-group-item">
								<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
											<span class="label label-info no-bold pull-right">dominus litis</span>
							</li>
						<% end %>

						<% if court.locos.any? && current_user == court.locos.last.user %>
							<li class="list-group-item">
								<%= link_to "#{l court.date_display, :format => '%e %B'} - #{court.jurisdiction}", court_path(court) %>
											<span class="label label-info no-bold pull-right">loco</span>
							</li>
						<% end %>
					<% end %>
				<% end %>

			<% end %>
		</ul>
		
	</div>
</div>