<div class="container">
	<div class="row">
		<div class="col-md-10">
<h1><%= t("about.title") %></h1>
<h3><%= t("about.question1") %></h3>

<p><%= t("about.q1_content1") %><b><%= t("about.q1_content2") %></b><%= t("about.q1_content3") %></p>

<h3><%= t("about.question2") %></h3>

<p><%= t("about.q2_content1") %></p>
<p><%= t("about.q2_content2") %><b><%= t("about.q2_content3") %></b><%= t("about.q2_content4") %></p>
<p><%= t("about.q2_content5") %></p>

<h3><%= t("about.question3") %></h3>
<p><b><%= t("about.q3_content1") %></b>, <%= t("about.q3_content2") %>.<br>
<%= t("about.q3_content3") %></p>

<h3><%= t("about.question4") %></h3>
<p><b><%= t("about.q4_content1") %></b>.<br>
	<%= t("about.q4_content2") %>
	<br><%= t("about.q4_content3") %> <b><%= t("about.q4_content4") %></b> <%= t("about.q4_content5") %>
	<br><%= t("about.q4_content6") %> <b><%= t("about.q4_content7") %></b>: <%= t("about.q4_content8") %>
</p>

<h3><%= t("about.question5") %></h3>
<p><b><%= t("about.q5_content1") %></b> <%= t("about.q5_content2") %><br>
<%= t("about.q5_content3") %></p>

<br>
<div class="col-md-3 col-md-offset-9">
<div class="text-right">
	<%= image_tag("ProfilLaetitiaMassa.jpg", class: "img-rounded") %>
	<br><b>Laetitia Massa </b>
	<br><%= t("about.your_ex_colleague") %>
	<br><%= t("about.founder_of_courts") %> 
	<br><%= link_to "Linked in", "http://linkedin.com/in/laetitiamassa" %> | <%= link_to "Email ", "mailto:laetitiamassa@gmail.com" %>

</div>
	</div>
</div>

	
</div>