<%= form_for(@loco) do |f| %>
  <% if @loco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loco.errors.count, "error") %> prohibited this loco from being saved:</h2>

      <ul>
      <% @loco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :court_id %><br>
    <%= f.number_field :court_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
