<%= content_for :head do %>
  <%= @court.performance %>
<% end %>

<!-- court -->
<li class="list-group-item">
  <%= render "court" %>
</li>

<!-- if current_user court.user => show respondants -->
<% if current_user == @court.user %>
<%= render "available_locos" %>
<% end %>
<!-- if description, show description -->
<li class="list-group-item">
<%= render "description" %>
</li>

