<%= content_for :head do %>
	<%= t("users.your_coordonnees") %>
<% end %>

<div class="user-bg text-center user-padding-bottom">
    <%= image_tag (@user.avatar.url(:mini)), class: "img-circle" %>			
	<br><b><%= @user.name_or_placeholder %></b>
	
	<br><br>

	<div class="row padding-left-right">
		<div class="col-xs-4">
		<%= link_to edit_user_path(current_user) do %>
			<button class="btn btn-primary btn-block">
				<i class="fa fa-user">
				<br><span class="shrinker">Vous</span></i>
			</button>
			<% end %>
		</div>
		<div class="col-xs-4 reduced-padding-right reduced-padding-left">
			<%= link_to edit_coordonnees_path(current_user) do %>
			<button class="btn btn-primary btn-block">
			<i class="fa fa-phone">
				<br><span class="shrinker">Vos coordonnées</span></i>
			</button>
			<% end %>
		</div>
		<div class="col-xs-4">
			<%= link_to edit_activity_path(current_user) do %>
			<button class="btn btn-primary btn-block">
			<i class="fa fa-suitcase">
				<br><span class="shrinker">Votre activité</span></i>
			</button>
			<% end %>
		</div>
	</div>
</div>



					
<%= form_for @user, :url => user_path(@user), :html => { :method => :put } do |f| %>

<div class="more_padding_bottom">
<li class="list-group-item">
	<%= f.text_field :street, class: "form-control input-sm", :placeholder => t("users.street") %>
</li>
<li class="list-group-item">
	<%= f.text_field :street_number, class: "form-control input-sm", :placeholder => t("users.street_number") %>
</li>
<li class="list-group-item">
	<%= f.text_field :zipcode, class: "form-control input-sm", :placeholder => t("users.zipcode") %>
</li>
<li class="list-group-item">
	<%= f.text_field :city, class: "form-control input-sm", :placeholder => t("users.city") %>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-phone-alt"></span> 
			+32
		</span>
		<%= f.text_field :telephone, class: "form-control input-sm", :placeholder => t("users.telephone") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-print"></span> 
			+32
		</span>
		<%= f.text_field :fax, class: "form-control input-sm", :placeholder => t("users.fax") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-earphone"></span> 
			+32
		</span>
		<%= f.text_field :mobile, class: "form-control input-sm", :placeholder => t("users.mobile") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="fa fa-link"></span> 
					    	
		</span>
		<%= f.text_field :website, class: "form-control input-sm", :placeholder => t("users.website") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="fa fa-linkedin"></span> 
					    	
		</span>
		<%= f.text_field :linkedin, class: "form-control input-sm", :placeholder => t("users.linkedin") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="fa fa-twitter"></span> 
					    	
		</span>
		<%= f.text_field :twitter, class: "form-control input-sm", :placeholder => t("users.twitter") %>
	</div>
</li>
<li class="list-group-item">
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="fa fa-facebook"></span> 
					    	
		</span>
		<%= f.text_field :facebook, class: "form-control input-sm", :placeholder => t("users.facebook") %>
	</div>
</li>
<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<%= f.submit t("users.save_changes"), class: "btn btn-primary btn-lg btn-block" %>
	</nav>
</div>
<% end %>		

	