<%= content_for :head do %>
	<%= t("users.modify_your_profile") %>
<% end %>

<div class="user-bg text-center user-padding-bottom">
    <%= image_tag (@user.avatar.url(:mini)), class: "img-circle" %>			
	<br><b><%= @user.name_or_placeholder %></b>
	
	<br><br>

	<div class="row padding-left-right">
		<div class="col-xs-4">
		<%= link_to edit_user_path(current_user) do %>
			<button class="btn btn-primary btn-block">
				<i class="fa fa-user">
				<br><span class="shrinker">Vous</span></i>
			</button>
			<% end %>
		</div>
		<div class="col-xs-4 reduced-padding-right reduced-padding-left">
			<%= link_to edit_coordonnees_path(current_user) do %>
			<button class="btn btn-primary btn-block">
			<i class="fa fa-phone">
				<br><span class="shrinker">Vos coordonnées</span></i>
			</button>
			<% end %>
		</div>
		<div class="col-xs-4">
			<%= link_to edit_activity_path(current_user) do %>
			<button class="btn btn-primary btn-block">
			<i class="fa fa-suitcase">
				<br><span class="shrinker">Votre activité</span></i>
			</button>
			<% end %>
		</div>
	</div>
</div>

<%= render "edit_you" %>

