<%= content_for :head do %>
Me <%= @user.name_or_placeholder %>
<% end %>


<div class="user-bg text-center">
    <%= image_tag (@user.avatar.url(:thumb)), class: "img-circle" %>			
	<h4><%= @user.name_or_placeholder %></h4>
	<i class="fa fa-map-marker"></i> <%= t("bars.#{@user.bar}") %>
	<br><br>
	<% if @user == current_user %>
	
	<%= link_to t("helpers.submit.update"), edit_user_path(current_user), class: "btn btn-primary btn-lg btn-block" %>
	<% else %>
		<div class="principal">
			<button id="contact_button", class="btn btn-primary btn-lg btn-block">
				<%= t("users.see_contact") %> 
					<i class='fa fa-angle-right fa-lg pull-right'></i>
			</button>
		</div>

		<div class="contact">
			<button id="principal_button", class="btn btn-primary btn-lg btn-block">
				<i class='fa fa-angle-left fa-lg pull-left'></i>
				<%= t("users.go_back_to_profile") %>
					
			</button>
		</div>
		
	<% end %>
</div>

<div class="principal">
	<div class="container-fluid">
		<h3><small><%= @user.presentation %></small></h3>
	</div>

	<%= render "recommandations" %>
</div>	

<div class="contact">
	<%= render "contact" %>
</div>




<script type="text/javascript">

$(document).ready(function(){
	$(".contact").hide();
    $("#contact_button").click(function(){
        $(".principal").hide();
        $(".contact").show();
    });
    $("#principal_button").click(function(){
        $(".principal").show();
        $(".contact").hide();
    });
});



</script>


