<h2 class="page-header"><%= t("users.modify_your_profile") %></h2>
<div class="row">
<div class="col-md-3">
    <ul class="list-group">
        <%= link_to t("users.you"), edit_user_path(current_user), class: "list-group-item" %>
        <%= link_to t("users.your_coordonnees"), edit_coordonnees_path, class: "list-group-item" %>
        <%= link_to t("users.your_activity"), edit_activity_path, class: "list-group-item" %>
        <%= link_to t("users.your_prefered_areas"), prefered_areas_path, class: "list-group-item active" %>
    </ul>
</div>

  <div class="col-md-9">
    <div class="panel panel-default">
      
      <div class="panel-body">
        <h2 class="text-right higher-up page-header"><small><%= t("users.your_prefered_areas") %></small></h2>

       
          <% current_user.prefered_areas.each do |area| %>
            <span class="label label-info no-bold"><%= area.name %></span>
          <% end %>
        
        <hr>

        <h3><small><%= t("users.add_your_prefered_areas") %></small></h3>

        <% @prefered_areas.each do |prefered_area| %>
      
      <ul class="list-group col-md-4">
        <li class="list-group-item">
          <%= prefered_area.name %>
          
          <% if current_user.prefered_areas.include?(prefered_area) %>

            
            <% prefered_area.skills.each do |skill| %>
              <% if current_user.id == skill.user_id %>
                
                <%= link_to t("helpers.remove"), skill, method: :delete, class: "btn btn-xs btn-danger pull-right" %>
              <% end %>
            <% end %>
            

          <% else %>
            
            <%= form_for(@skill) do |f| %>
              <%= f.hidden_field :prefered_area_id, :value => prefered_area.id %> 
              
              <button type="submit" class="btn btn-xs btn-success pull-right">
                      <%= t("helpers.add") %>
                </button>
            <% end %>

          <% end %>
          <br>
        </li>
      </ul>
        
      
    <% end %>



      </div>
    </div>
  </div>
</div> <!-- row -->





    

<br>

