
<div class="homebg-invite">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag("courts_logo.png") %>
			<h1><span class="biggy"><%= t("home.baseline_lawyer") %></span><br>
				<small><%= t("home.baseline_cta") %></small><br>
			<span class="bigger"><%= t("home.baseline_replacements") %></span><br></h1>
		</div>
		<div class="col-md-3 col-md-offset-1">
			
			<div class="home_signup">
				<p class="lead"><%= t("devise.invitations.choose_your_password") %></p>
			<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
			  <%= devise_error_messages! %>
			  <%= f.hidden_field :invitation_token %>

			  
			  <%= f.password_field :password, :placeholder => t("home.password"), :class => "form-control" %></p>

			  
			  <%= f.password_field :password_confirmation, :placeholder => t("home.confirm_password"), :class => "form-control" %></p>

			  <%= f.submit t("devise.invitations.edit.submit_button"), :class => "btn btn-primary btn-block" %>

	          <br><span class="center"><small><%= t("home.you_accept_terms") %><%= link_to t("home.our_terms"), legal_path %>)</small></span>
	          <% end %>
	      </div>
	 
		</div>
	</div>    
</div>


<%= render "pages/home_arguments" %>

