<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
        <%= link_to "Abonnement", account_path, class: "list-group-item" %>
        <%= link_to "Invitations", new_user_invitation_path, class: "list-group-item active" %>
        <!-- <%= link_to "Récompenses", rewards_path, class: "list-group-item" %> -->
        <%= link_to "Mot de passe", edit_user_registration_path(current_user), class: "list-group-item" %>
       <!-- <%= link_to "Paramètres", "", class: "list-group-item" %> -->
    </ul>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Invitez vos confrères sur Courts</h4>
      </div>
      <div class="panel-body">
      	<% unless current_user.accepted_invitations_count > 12 %>
	      	<h3 class="text-center"><small><i class="fa fa-gift fa-success fa-2x pull-left"></i> <span class="fa-success">Recevez un mois gratuit pour chaque confrère qui rejoint Courts.be suite à votre invitation !</span>*</small></h3>
	      	<hr>
      	<% end %>
      	<h3><small>Introduisez l'email de chaque confrère que vous souhaitez inviter :</small></h3>

        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
		  	
		  	<%= devise_error_messages! %>
			
			<div class="form-inline">
				<div class="form-group">
					<% resource.class.invite_key_fields.each do |field| -%>
					  
					  <%= f.text_field field, :placeholder => "confrère@email.com", class: "form-control" %>
					<% end %>
				</div>
		  		<%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
			</div>
		<% end %>
		<br>
		<div class="table-responsive">
		  <table class="table">
		    <% current_user.invitations.order("created_at DESC").each do |invitation| %>
				<tr>
					<td>
						<%= invitation.email %>
						<% unless invitation.invitation_accepted_at.blank? %>
						 a accepté votre invitation le <%= invitation.invitation_accepted_at %>
						<% else %>
						 n'a pas encore accepté votre invitation.
						<% end %>
					</td>
					<td>
						<% unless invitation.invitation_accepted_at.blank? %>
							<% if current_user.accepted_invitations_count > 12 %>
								<i class="fa fa-ok fa-check fa-success"></i>
							<% else %>

								<span class="label label-success">1 mois gratuit</span>
							<% end %>
						<% else %>
							<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
		  	
						  		<!--<%= devise_error_messages! %> -->
								<% resource.class.invite_key_fields.each do |field| -%>	  
									<%= f.hidden_field field, :value => invitation.email %>
								<% end %>
						  		<%= f.submit "relancer", class: "btn btn-primary btn-xs" %>
						<% end %>

						<% end %>
					</td>
				</tr>
			<% end %>
		  </table>
		</div>
		


      </div>
    </div>
    <h5 class="text-center"><small>* Jusqu'à 12 mois gratuits</small></h5>
 
<!-- 
    <div class="panel panel-default">
      <div class="panel-heading">
        Vos factures
      </div>
      <div class="panel-body">
        bla bla
      </div>
    </div>
  -->
  </div>

</div>






<!--
<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>

<% if current_user.invitations.any? %>
	<h1>Félicitations ! 
	<small><br>Grâce à votre réseau,
		<br>Vous recevez <%= current_user.accepted_invitations_count %> mois gratuit 
		<br>Vous recevez la promo de la semaine
	</small>
	</h1>
<% end %>
<p>Vous avez envoyé <%= current_user.invitations.count %> invitations, dont <%= current_user.accepted_invitations_count %> a été acceptée.
</p>

<% current_user.invitations.each do |invitation| %>
	<p><%= invitation.email %>
	<% unless invitation.invitation_accepted_at.blank? %>
	 a accepté votre invitation le <%= invitation.invitation_accepted_at %>
	<% else %>
	 n'a pas encore accepté votre invitation.
	<% end %></p>
<% end %>
-->