<h2 class="text-center"><%= t("subscribers.title") %>
    <br><small><%= t("subscribers.baseline") %></small>
</h2>
<br>


<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <ul class="list-group text-center lower">
            <li class="list-group-item list-group-item-info">
                <h4 class="text-center"><%= t("subscribers.one_week_plan") %></h4>
            </li>
            <li class="list-group-item">
                <h3 class="lead">
                    <strong>2,50 EUR <small><%= t("subscribers.htva") %>**</small></strong>
                    <br><small><%= t("subscribers.all_functionalities") %> <b><%= t("subscribers.unlimited") %></b></small>

                </h3>
            </li>
            <li class="list-group-item list-group-item-info">
                <%= render "form_one_week" %>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-success">
                <h3 class="text-center"><%= t("subscribers.yearly_plan") %></h3>
            </li>
            <li class="list-group-item">
                <h3 class="lead">
                    <strong>50,- EUR <small><%= t("subscribers.htva") %>**</small> / <%= t("subscribers.year") %></strong>
                    <br><small><%= t("subscribers.all_functionalities") %> <b><%= t("subscribers.unlimited") %></b></small>
                </h3>
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="row">
                        <p><b><%= t("subscribers.select_payment_mode") %></b></p>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal"><%= t("subscribers.by_wire") %></button>
                            <%= render "modalVirement" %>
                        </div>
                        
                            <%= render "form_yearly" %>
                        </div>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="list-group text-center lower">
            <li class="list-group-item list-group-item-warning">
                <h4 class="text-center"><%= t("subscribers.monthly_plan") %></h4>
            </li>
            <li class="list-group-item">
                <h3 class="lead">
                    <strong>5,- EUR <small><%= t("subscribers.htva") %>**</small> / <%= t("subscribers.month") %></strong>
                    <br><small><%= t("subscribers.all_functionalities") %> <b><%= t("subscribers.unlimited") %></b></small>
                </h3>
            </li>
            <li class="list-group-item list-group-item-warning">
                <%= render "form_monthly" %>
            </li>
        </ul>
    </div>
</div>


           
            <h3 class="text-center"><small><%= t("subscribers.a_question") %> <%= link_to "contact@courts.be", "mailto:contact@courts.be" %></small></h3>
            <p class="text-center">
                <!-- * inclus gratuitement durant la phase de test
                <br>-->** <i><%= t("subscribers.no_vat") %></i>.
            </p>
            <h3 class="text-center"><small><%= t("subscribers.yes_billing") %> :)</small></h3>