<p id="notice"><%= notice %></p>

<h1>Listing Confirmations</h1>

<table>
  <thead>
    <tr>
      <th>Court</th>
      <th>User</th>
      <th>Confirmed</th>
      <th>Infirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirmations.each do |confirmation| %>
      <tr>
        <td><%= confirmation.court_id %></td>
        <td><%= confirmation.user_id %></td>
        <td><%= confirmation.confirmed %></td>
        <td><%= confirmation.infirmed %></td>
        <td><%= link_to 'Show', confirmation %></td>
        <td><%= link_to 'Edit', edit_confirmation_path(confirmation) %></td>
        <td><%= link_to 'Destroy', confirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confirmation', new_confirmation_path %>
