<h2>Cher Maître,</h2>

<p>Une personne nous a demandé la réinitialisation de votre mot de passe. Nous espérons que cette personne, c'est vous. Si c'est le cas, vous pouvez cliquer sur le lien ci-dessous :</p>

<table cellspacing="0" cellpadding="0">
<tr>
<td align="center" width="300" height="40" bgcolor="#c0392b" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
<span style="font-size:16px; font-weight: normal; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">

	<%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @token) %>

</span></span>
</td>
</tr>
</table>


<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si ce n'est pas vous qui avez fait cette demande, vous pouvez ignorer cet email.</p>

<p>Votre mot de passe ne sera pas modifié si vous ne cliquez pas sur le lien ci-dessous pour le modifier.</p>

<p class="signature">Bien à vous,
	<br>L'Equipe Courts
</p>

<img src="http://courts.be/assets/courts_logo.png" alt="Courts logo" height="60" width="150">
	<br><%= link_to "Courts.be", "http://courts.be" %> | <%= link_to "Facebook", "http://facebook.com/courts.be" %> | <%= link_to "Linkedin", "http://linkedin.com/company/courtsbe" %>
