<p id="notice"><%= notice %></p>

<h1>Listing Loco Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Court</th>
      <th>Evaluation</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loco_evaluations.each do |loco_evaluation| %>
      <tr>
        <td><%= loco_evaluation.user_id %></td>
        <td><%= loco_evaluation.court_id %></td>
        <td><%= loco_evaluation.evaluation %></td>
        <td><%= loco_evaluation.comment %></td>
        <td><%= link_to 'Show', loco_evaluation %></td>
        <td><%= link_to 'Edit', edit_loco_evaluation_path(loco_evaluation) %></td>
        <td><%= link_to 'Destroy', loco_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loco evaluation', new_loco_evaluation_path %>
