<li class="list-group-item">
	<div class="row">
		<div class="col-xs-2 no-padding text-center">
			<small>
				<span class="shrinker"><%= l court.date_display, :format => '%A' %></span>
				<br><span class="shrink"><b><%= l court.date_display, :format => ('%e %b') %></b>
				<br><%= l court.date_display, :format => ('%H:%M') %></span> 
			</small> 
		</div>

		<div class="col-xs-7">
			<div class="header">
				<%= link_to court.jurisdiction, court_path(court), :class => "blue" %>
					           
				<br>
				<span class="fa fa-map-marker"> <%= t("bars.#{court.bar}") %></span>
        		
        		<br>
        		<%= link_to court.performance, court, :class => "grey" %> 
					             
				<div class="text-right">
					<%= render :partial => "court_status_and_cta", :locals => {:court => court} %>	
				</div>  
			</div>
		</div>
					    
		<div class="col-xs-3 text-right">
			
			<%= link_to (image_tag (court.user.avatar.url(:mini)), class: "img-circle"), user_path(court.user) %>
			<span class="shrinker"><i>Me <%= link_to court.user.last_name_or_placeholder, user_path(court.user) %></i></span>
		</div>
						
	</div>
</li>