			
<% @courts.each do |court| %>
	<% if court.loco_evaluation && court.loco_evaluatee == current_user %>

		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-2 no-padding text-center">
					<% if court.loco_evaluation.evaluation == "happy" %>
			           <i class="fa fa-smile-o fa-3x fa-success"></i>
			      	<% elsif court.loco_evaluation.evaluation == "ok" %>
			            <i class="fa fa-meh-o fa-3x fa-warning"></i>
			      	<% else %>
			            <i class="fa fa-frown-o fa-3x fa-danger"></i>
			      	<% end %>
			    </div>
			    <div class="col-xs-7">

			      "<i><%= court.loco_evaluation.comment %></i>"
		             <div class="text-right"><small>- Me <%= link_to court.user.last_name_or_placeholder, court_path(court) %></small></div>	
				</div>
				
				<div class="col-xs-3">
					<%= link_to (image_tag (court.user.avatar.url(:mini)), class: "img-circle"), user_path(court.user) %>
				</div>
			</div>
		</li>			
	<% end %>
<% end %>


<% @courts.each do |court| %>
	<% if court.dominus_litis_evaluation && court.dominus_litis_evaluatee == current_user %>
		
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-2 no-padding text-center">
					<% if court.dominus_litis_evaluation.evaluation == "happy" %>
			           <i class="fa fa-smile-o fa-3x fa-success"></i>
			      	<% elsif court.dominus_litis_evaluation.evaluation == "ok" %>
			            <i class="fa fa-meh-o fa-3x fa-warning"></i>
			      	<% else %>
			            <i class="fa fa-frown-o fa-3x fa-danger"></i>
			      	<% end %>
			    </div>
			    <div class="col-xs-7">
			    	"<i><%= court.dominus_litis_evaluation.comment %></i>"
		             <div class="text-right"><small>- Me <%= link_to court.locos.last.user.last_name_or_placeholder, court_path(court) %></small></div>
				</div>
				
				<div class="col-xs-3">
					<%= link_to (image_tag (court.locos.last.user.avatar.url(:mini)), class: "img-circle"), user_path(court.locos.last.user) %>
				</div>
			</div>
		</li>						
	<% end %>
<% end %>
