

<%= content_for :head do %>
	Demandes de remplacement
<% end %>


<% if current_user.has_active_access %>
	<% if current_user.bar.blank? %>
		<br>
		<div class="alert alert-danger alert-dismissible" role="alert">
					  
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p class="text-center">
				<span class="lead">
					<b><%= t("welcome.alerts.bar_blank.content1") %></b>
				</span>
				<br>
				<br>
				<%= t("welcome.alerts.bar_blank.content2") %> <b><%= t("welcome.alerts.bar_blank.content3") %></b>.
				<br>
				<br>
				<%= link_to t("welcome.alerts.bar_blank.cta"), edit_user_path(current_user), :class => "btn btn-primary" %>
			</p>
		</div>

	<% else %>



		<% if current_user.current_courts_count > 0 %>
			<% @courts.sort_by(&:date_display).each do |court| %>
				<% if court.current %>
					<%= render :partial => "each_court", :locals => { :court => court} %>
					
				<% end %>
			<% end %>

		<% else %>

			<li class="list-group-item text-center">
				<br>
				<p><span class="lead"><%= t("courts.stream_no_current_court1") %></span></p>
					<p><%= t("courts.stream_no_current_court2") %>
				</p>
				<br>
				<%= link_to new_court_path do %>
				<%= content_tag(:i, t("courts.button_new_court_mobile"), class: "fa fa-university fa-2x btn btn-lg btn-primary") %>
				<% end %>
			</li>

		<% end %>

	<% end %>

<% else %>
	<br>
	<div class="alert alert-info alert-dismissible" role="alert">
					  
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		
		<p class="text-center">
					  	
			Vous devez <%= link_to "activer votre compte", account_path %> ou <%= link_to "obtenir des mois gratuits", new_user_invitation_path %> pour découvrir les opportunités de remplacements.
					  
					  
		</p>
	</div>
<% end %>




<div class="text-center">
<%= link_to image_tag("courts_logo.png", :size => "125x50"), root_path %>
</div>








<%= render "layouts/menu_footer" %>