<div class="container">
	<h1><%= t("legal.title") %></h1>
	
	<b><i>
		<p><%= t("legal.in_short.content1") %></p>
		<p><%= t("legal.in_short.content2") %></p>
		<p><%= t("legal.in_short.content3") %> <%= link_to t("legal.in_short.tell_us"), "mailto:contact@courts.be" %>. </i></p></i></b>
	
	<p><%= t("legal.in_short.content4") %> <%= link_to "Courts.be", "http://courts.be" %> <%= t("legal.in_short.content5") %></p>
	
	<h2><%= t("legal.access_title") %></h2>
	
	<p><%= t("legal.access_content") %> <%= link_to "Courts.be", "http://courts.be/legal" %>.</p>

	<p><%= t("legal.user_forbids_title") %>
		<ul>
			<li><%= t("legal.user_forbids_content1") %></li>
			<li><%= t("legal.user_forbids_content2") %></li>
			<li><%= t("legal.user_forbids_content3") %></li>
			<li><%= t("legal.user_forbids_content4") %></li>
		</ul>
	</p>

	<h2><%= t("legal.web_content_title") %></h2>

	<p><%= t("legal.web_content_content1") %><br>
	<%= t("legal.web_content_content2") %></p>

	<p><%= t("legal.web_content_content3") %></p>

	<p><%= t("legal.web_content_out_liability_title") %>
		<ul>
			<li><%= t("legal.web_content_out_liability_content1") %></li>
			<li><%= t("legal.web_content_out_liability_content2") %></li>
			<li><%= t("legal.web_content_out_liability_content3") %></li>
			<li><%= t("legal.web_content_out_liability_content4") %></li>
		</ul>
		<br><%= t("legal.web_content_out_liability_content5") %>
	</p>

	<h2><%= t("legal.user_rights_title") %></h2>

	<p><%= t("legal.user_rights_content") %></p>

	<h2><%= t("legal.warranty_limit_title") %></h2>

	<p><%= t("legal.warranty_limit_content") %></p>

	<h2><%= t("legal.ip_title") %></h2>

	<p><%= t("legal.ip_content") %></p>

	<h2><%= t("legal.privacy_title") %></h2>

	<p><%= t("legal.privacy_content1") %> <%= link_to "contact@courts.be", "mailto:contact@courts.be" %>.</p>
	
	<p><%= t("legal.privacy_content2") %></p>
	
	<p><%= t("legal.privacy_content3") %></p>
	
	<p><%= t("legal.privacy_content4") %>
	<ul>
		<li><%= t("legal.privacy_content5") %></li>
		<li><%= t("legal.privacy_content6") %></li>
		<li><%= t("legal.privacy_content7") %></li>
		<li><%= t("legal.privacy_content8") %>
	</ul>
	</p>
	
	<p><%= t("legal.privacy_content9") %></p>

	<p><%= t("legal.privacy_content10") %></p>

	<p><%= t("legal.privacy_content11") %></p>

	<p><%= t("legal.privacy_content12") %><br>
	<%= t("legal.privacy_content13") %></p>

	<h2><%= t("legal.applicable_law_title") %></h2>

	<p><%= t("legal.applicable_law_content") %></p>

	<br>
	<p class="text-right"><i><%= t("legal.dated_version") %></i></p>

</div>