<li class="list-group-item">
				<h4><small><%= t("welcome.your_current_conversations") %></small></h4>
				<% if current_user.locos.any? or current_user.courts.any? %>
					<% current_user.locos.each do |loco| %>
						<% if loco.comments.any? && loco.comments.last.user == loco.court.user %>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-3">
									<%= image_tag (loco.court.user.avatar.url(:mini)), class: "img-rounded" %>
								</div>
								<div class="col-md-9">
									<%= link_to truncate(loco.comments.last.body, :length => 50), court_path(loco.court) %>
									<div class="text-right"><small>
										(<%= link_to loco.court.performance, court_path(loco.court) %>)
									</small></div>
								</div>
							</div>
						</li>
						<% end %>
					<% end %>

					<% current_user.courts.each do |court| %>
						<% if court.locos.any? %>
							<% court.locos.each do |loco| %> 
								<% if loco.comments.any? && loco.comments.last.user == loco.user %>
									<li class="list-group-item">
										<div class="row">
											<div class="col-md-3">
												<%= image_tag (loco.user.avatar.url(:mini)), class: "img-rounded" %>
											</div>
											<div class="col-md-9">
												<%= link_to truncate(loco.comments.last.body, :length => 50), court_path(loco.court) %>
												<div class="text-right"><small>
													(<%= link_to loco.court.performance, court_path(loco.court) %>)
												</small></div>
											</div>
										</div>
									</li>
								<% end %>
							<% end %>
						<% end %>
					<% end %>

				<% end %>
			</li>