

<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <% if user_signed_in? %>
    <% unless current_user.accepted_invitations_count > 12 %>
      <div class="navbar-center">
        <%= link_to new_user_invitation_path do %>
        <%= content_tag(:i, " #{t('header.get_free_months')} ", :class => "fa fa-gift fa-success fa-lg btn btn-default") %> 
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("courts_logo.png", :size => "125x50"), root_path %>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav navbar-right">


      <!-- translated versions -->
      
   

      <% if user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t("language") %> <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("french"), url_for(:locale => 'fr') %></li>
              <li><%= link_to t("dutch"), url_for(:locale => 'nl') %></li>
            </ul>
        </li>
        <li><%= link_to t("header.home"), root_path %></li>
        <!-- <li><%= link_to "Remplacements", courts_path %></li>
        <li><%= link_to "Questions", questions_path %></li> -->

        <li>
          <%= link_to notifications_path do %> 

            
              <%= content_tag(:i, " " ,:class=> 'fa fa-lg fa-bell') -%>
                <% if current_user.open_notifications_count > 0 %>
                    <span class="label label-success label-as-badge"><small><%= current_user.open_notifications_count %></small></span>
                <% end %>
            
          <% end %>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name_or_placeholder %> <b class="caret"></b></a>
          
          <ul class="dropdown-menu">
            <li><%= link_to t("header.view_profile"), user_path(current_user) %></li>
            <li><%= link_to t("header.edit_profile"), edit_user_path(current_user) %></li>
            <li role="presentation" class="divider"></li>
            
            <li><%= link_to t("header.settings"), account_path %></li>
            <li role="presentation" class="divider"></li>     
            <li><%= link_to t("header.log_out"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li class="lower">
             <!--
              <% if current_user.has_active_access %> 
              <span class="label label-success no-bold">activé</span>
              <% else %>
              <span class="label label-warning no-bold">inactif</span>
              <% end %> -->
              <%= render "layouts/user_status" %>
            </li>





        
      <% else %>
  			<li><%= link_to t("header.about"), about_path %></li>
        <li><%= link_to t("header.pricing"), pricing_path %></li> 
  			<li><%= link_to t("header.terms"), legal_path %></li> 
        <li><%= link_to t("header.log_in"), new_user_session_path %></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t("language") %> <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("french"), url_for(:locale => 'fr') %></li>
            <li><%= link_to t("dutch"), url_for(:locale => 'nl') %></li>
          </ul>
      </li>
      <% end %>
      
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
