<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <p class="text-center">
  	<span class="lead"><%= t("header.overdue.content1") %></span>
  	<br><b><%= t("header.overdue.content2") %> <%= link_to t("header.subscribe_button"), new_subscriber_path, :class => "btn btn-default" %> <%= t("header.follow_instructions") %></b>

	<br><%= t("header.contact_us") %> <%=link_to "contact@courts.be", "mailto:contact@courts.be" %></p>
</div>