<!DOCTYPE html>
<html>
<head>
  <title>Courts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/boostrap.min.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/header' %>

<% if user_signed_in? %>
  <div class="container">
    <% if current_user.overdue %>
    <%= render "layouts/overdue" %>
    <% elsif current_user.on_trial && !current_user.subscribed %>
    <%= render "layouts/on_trial" %>
    <% end %>
    
    <% flash.each do |name, msg| %>
       <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    

    <%= yield %>
  </div>
<% else %>
  <div class="container">
  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</div>
  <%= yield %>

<% end %>
<br><br><br><br><br><br><br><br>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48327430-1', 'courts.herokuapp.com');
  ga('send', 'pageview');

</script>

</body>

</html>
